---
layout: base
---

#navigation-column
  %ul#links
    %li
      %a{:href=>'/'}
        Overview
    %li
      %a{:href=>'/motivation/'}
        Motivation
    %li
      %a{:href=>'/architecture/'}
        Architecture

  %ul#links
    %li
      %a{:href=>'/notes/'}
        Development Notes

  %ul#links
    %li
      %a{:href=>'/stilts-stomplet/'}
        Stomplet Framework
    %li
      %a{:href=>'/stilts-conduit/'}
        Message Conduit Framework
    %li
      %a{:href=>'/stilts-stomp/'}
        Stilts STOMP Framework

  %ul#links
    %li
      %a{:href=>'/stilts-stomp-client/'}
        Java STOMP Client
    %li
      %a{:href=>'/stilts-stomp-client-js/'}
        Javascript STOMP Client

  %ul#links
    %li
      %a{:href=>'/source/'}
        Source 
    %li
      %a{:href=>'/javadocs/'}
        JavaDocs 
    %li
      %a{:href=>'/license/'}
        Apache License 2.0
    %li
      %a{:href=>'http://stomp.github.com/stomp-specification-1.1.html'}
        STOMP 1.1 Specification
#content-column
  ~ content
