---
layout: base
---

#navigation-column
  %ul#links
    %li
      %a{:href=>'/'}
        Overview
    %li
      %a{:href=>'/motivation/'}
        Motivation
    %li
      %a{:href=>'/architecture/'}
        Architecture

  %ul#links
    %li
      %a{:href=>'/stomplet/'}
        Stomplet API
    %li
      %a{:href=>'/clown-shoes/'}
        ClownShoes Stomplet Server
    %li
      %a{:href=>'/circus/'}
        Circus Messaging Framework
    %li
      %a{:href=>'/stilts/'}
        Stilts STOMP Framework

  %ul#links
    %li
      %a{:href=>'/source/'}
        Source 
#content-column
  ~ content
