---
layout: base
---

#navigation-column
  %ul#links
    %li
      %a{:href=>'/'}
        Overview
    %li
      %a{:href=>'/motivation/'}
        Motivation
    %li
      %a{:href=>'/architecture/'}
        Architecture

  %ul#links
    %li
      %a{:href=>'/notes/'}
        Development Notes

  %ul#links
    %li
      %a{:href=>'/stomplet/'}
        Stomplet API
        %ul
          %li
            %a{:href=>'/stomplet/core/'}
              Core Stomplets
    %li
      %a{:href=>'/clown-shoes/'}
        ClownShoes Stomplet Server
    %li
      %a{:href=>'/circus/'}
        Circus Messaging Framework
    %li
      %a{:href=>'/stilts/'}
        Stilts STOMP Framework

  %ul#links
    %li
      %a{:href=>'/client/'}
        STOMP Client

  %ul#links
    %li
      %a{:href=>'/source/'}
        Source 
    %li
      %a{:href=>'/javadocs/'}
        JavaDocs 
    %li
      %a{:href=>'http://stomp.github.com/stomp-specification-1.1.html'}
        STOMP 1.1 Specification
#content-column
  ~ content
